.navbar {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.navbar-brand-custom-logo {
  margin-bottom: 2px !important;
}

.navbar-brand-custom-text {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: medium !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.page-title {
  padding-left: 15px;
}

.footer-custom {
  min-height: 10vh;
}